{% extends "base.html" %} 
{% load static from staticfiles %}
{% block header %}
<div class="bodywhite">
	{% include "menucoco.html" %}
	<div class="container">	
		<div class="row ">
			<div class="col-xs-9 text-left">
				<header class="text-capitalize activo">
					<div class="page-header">
						<h1>{{ page_title }}</h1>
					</div>
				</header>
			</div>
			<div class="col-xs-3 text-right">
				<header class="text-capitalize activo">
					<h1><span class="glyphicon glyphicon-thumbs-up azul" aria-hidden="true"></span></h1>
				</header>
			</div>
		</div>
    	
{% endblock %} 
{% block contedor %}
		<div class="row text-center">
				<div class="col-md-3 text-center botton thumbnail">	
					<img src="{{ saldo.producto.imagen.url }}" class="img-responsive text-center" />				    		     
				</div> 
				<div class="col-md-3 text-left botton ">
					
					<ul class="list-unstyled">									
						<li><b>Nombre:</b> {{ saldo.producto.name }}</li>
						<li><b>Cantidad:</b> {{ saldo.cantidad }}</li>
						<li><b>Kilos:</b> {{ saldo.get_kilos }} Kg</li>
						<li><b>Fecha de Entrada:</b>{{ saldo.fecha_cracion }}</li>
						<li><b>Obseración:</b>{{ saldo.observacion }}					
						</li>	
					</ul>
					
				</div>
				
		</div>
	</div>
</div>

{% endblock %}
{% block scripts_adicionales %}

<script type="text/javascript"
  src="{% static "js/moment.js" %}">
</script>
<script type="text/javascript"
  src="{% static "js/bootstrap-datetimepicker.js" %}">
</script>
<script type="text/javascript"
  src="{% static "js/es.js" %}">
</script>
<script>
$(function () {
    $('#datetimepicker').datetimepicker({
        language: 'es'

    });
});  
</script>


{% endblock %}  
